logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
.cache-main
.cache-tests
.DS_Store
*.py[cod]
/report-templates/*.zip

/bin/
!/bin/activator
!/bin/activator.bat

conf/application.conf

sbt-launch.jar
