.media-items {
  padding-left: 15px;

  .media-item {
    padding: 5px;
    &:nth-child(odd) {
      background: #f9f9f9;
    }
    &:nth-child(even) {
      background: #ecf0f5;
    }
    .media-right,
    .media-left {
      vertical-align: middle;
    }
  }
}