<!--
<a ui-sref="home" class="logo">
    <span class="logo-mini"><b>C</b></span>
    <span class="logo-lg">Cortex</span>
</a>
<nav class="navbar navbar-static-top" role="navigation">
    <a href class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
</nav>
-->
<nav class="navbar navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <a href class="navbar-brand"><b>Cortex</b></a> -->
      <a class="navbar-brand" ui-sref="main.analyzers">
        <img alt="Cortex" src="../../../assets/images/logo-small.svg">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href ng-click="$ctrl.newAnalysis()">
            <i class="fa fa-plus"></i> New Analysis</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="main.analyzers">
            <i class="fa fa-cogs"></i> Analyzers</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="main.jobs">
            <i class="fa fa-hourglass"></i> Jobs</a>
        </li>
        <li class="dropdown" uib-dropdown ng-if="$ctrl.isAdmin">
          <a class="dropdown-toggle" uib-dropdown-toggle href>
            <i class="fa fa-cog"></i>
            <span class="hpad5">Admin</span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu>
            <li>
              <a ui-sref="main.users">
                <i class="fa fa-users"></i>
                <span class="hpad5">Users</span>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ui-sref="main.organizations">
                <i class="fa fa-file-text"></i>
                <span class="hpad5">Organizations</span>
              </a>
            </li>            
          </ul>
        </li>
        <li ui-sref-active="active">
          <a href ng-click="$ctrl.logout()">
            <i class="fa fa-sign-out"></i> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>