.navbar {
  .avatar.avatar-xs {
    line-height: 20px;
    span {
      line-height: 20px;
      font-weight: bold;
    }
    .avatar-icon {
      line-height: 20px;
      margin-top: -5px;
    }
  } 
}