<!--
<a ui-sref="home" class="logo">
    <span class="logo-mini"><b>C</b></span>
    <span class="logo-lg">Cortex</span>
</a>
<nav class="navbar navbar-static-top" role="navigation">
    <a href class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
</nav>
-->
<nav class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <!-- <a href class="navbar-brand"><b>Cortex</b></a> -->
      <a class="navbar-brand" ui-sref="app.analyzers">
        <img alt="Cortex" src="../../../assets/images/logo-small.svg">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <i class="fa fa-bars"></i>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href ng-click="nav.newAnalysis()">
            <i class="fa fa-plus"></i> New Analysis</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.analyzers">
            <i class="fa fa-cogs"></i> Analyzers</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="app.jobs">
            <i class="fa fa-hourglass"></i> Jobs</a>
        </li>
        <li ui-sref-active="active">
          <a href ng-click="nav.logout()">
            <i class="fa fa-sign-out"></i> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>