<section class="content-header">
  <h1>Analyzers</h1>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Data types</h3>
          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" ng-click="$ctrl.search.dataTypeList = ''">
              <i class="fa fa-eraser"></i>
            </button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="(key, value) in $ctrl.datatypes">
              <a ng-click="$ctrl.filterByType(key)" href>
                <i class="fa fa-check text-success" ng-show="key === $ctrl.search.dataTypeList"></i> {{key}}
                <span class="label label-success pull-right">{{value}}</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="form-group">
        <input type="text" class="form-control input-lg" placeholder="Search for analyzer description" ng-model="$ctrl.search.description">
      </div>
      <div class="box box-primary" dir-paginate="analyzer in $ctrl.analyzers | filter:$ctrl.search | itemsPerPage: 25">
        <div class="box-header with-border">
          <h3 class="box-title">            
            <span class="mr-xxs">{{analyzer.name}}</span>
            <small class="mr-xxs">
              <strong>Version:</strong> {{analyzer.version}}</small>
            <small class="mr-xxs" ng-if="analyzer.author">
              <strong>Author:</strong> {{analyzer.author}}</small>
            <small class="mr-xxs" ng-if="analyzer.license">
              <strong>License:</strong> {{analyzer.license}}</small>
          </h3>
          <div class="box-tools pull-right">
            <a href ng-click="$ctrl.run(analyzer)">
              <i class="fa fa-play"></i> Run</a>
          </div>
        </div>
        <div class="box-body">
          {{analyzer.description}}
        </div>
        <div class="box-footer">
          <strong>Applies to:</strong>
          <span class="datatype clickable label label-primary" ng-repeat="type in analyzer.dataTypeList" ng-click="$ctrl.run(analyzer, type)">{{type}}</span>&nbsp;
        </div>
      </div>
      <dir-pagination-controls></dir-pagination-controls>
    </div>
  </div>
</section>
<!-- /.content -->