<form class="form-horizontal" name="form" ng-submit="$modal.save()">
  <div class="modal-header bg-primary">
    <h3 class="modal-title">{{$modal.mode === 'create' ? 'Enable' : 'Edit'}} analyzer {{$modal.definition.id}}</h3>
  </div>
  <div class="modal-body">
    <analyzer-config-form definition="$modal.definition" analyzer="$modal.analyzer"></analyzer-config-form>

    <div>Analyzer</div>
    <pre>{{$modal.analyzer | json}}</pre>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning pull-left" type="button" ng-click="$modal.cancel()">Cancel</button>
    <button class="btn btn-primary pull-right" type="submit" ng-disabled="form.$invalid">Save</button>
  </div>
</form>