<section>
  <p class="lead">Enabled analyzers ({{$ctrl.analyzers.length || 0}})</p>

  <div class="row mv-s" ng-if="$ctrl.analyzers.length === 0">
    <div class="col-md-12">
      <div class="empty-message">No analyzer enabled.</div>
    </div>
  </div>

  <div class="row mv-s" ng-if="$ctrl.analyzers.length > 0">
    <div class="col-sm-12 mb-s">      
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-search"></i></span>
        <input type="text" class="form-control input-lg" ng-model="$ctrl.state.filterEnabled" placeholder="Filter enabled analyzers">
      </div>
    </div>
    <div class="col-sm-12 flex-table">
      <div class="flex-row media" ng-repeat="analyzer in $ctrl.analyzers | filter:$ctrl.state.filterEnabled:name">
        <div class="flex-col flex-1">
          <h4 class="media-heading">
            <span class="mr-m text-primary">{{analyzer.name}}</span>
          </h4>
          <h4 class="media-heading">
            <small class="mr-xxs">
              <strong>Version:</strong> {{analyzer.version}}</small>
            <small class="mr-xxs" ng-if="analyzer.author">
              <strong>Author:</strong> {{analyzer.author}}</small>
            <small class="mr-xxs" ng-if="analyzer.license">
              <strong>License:</strong> {{analyzer.license}}</small>
          </h4>
          <div class="mt-xs text-muted">{{analyzer.description}}</div>
        </div>
        <div class="flex-col flex-w-200 text-center text-muted vertical">
          <div ng-show="analyzer.rate && analyzer.rateUnit" class="text-primary">
            <div>{{analyzer.rate}}</div>
            <div>per {{analyzer.rateUnit}}</div>
          </div>
          <div ng-show="!analyzer.rate || !analyzer.rateUnit">
            <div>N/A</div>
          </div>
        </div>
        <div class="flex-col flex-w-200 text-center text-muted vertical">
          <div class="text-primary">
            <div>Check TLP: {{analyzer.configuration.check_tlp}}</div>
            <div ng-show="analyzer.configuration.check_tlp">Max TLP: {{analyzer.configuration.max_tlp}}</div>
          </div>          
        </div>
        <div class="flex-col flex-icon text-center">
          <a href class="text-primary" ng-click="$ctrl.edit('edit', $ctrl.analyzerDefinitions[analyzer.analyzerDefinitionId], analyzer)">
            <i class="fa fa-edit"></i>Edit</a>
        </div>
        <div class="flex-col flex-icon text-center">
          <a href class="text-danger" ng-click="$ctrl.disable(analyzer.id)">
            <i class="fa fa-ban"></i>Disable</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mt-m">
  <p class="lead">Available analyzers ({{$ctrl.definitionsIds.length || 0}})</p>

  <div class="row mv-s" ng-if="$ctrl.definitionsIds.length === 0">
    <div class="col-md-12">
      <div class="empty-message">No analyzer enabled.</div>
    </div>
  </div>

  <div class="row mv-s" ng-if="$ctrl.definitionsIds.length > 0">
    <div class="col-sm-12 mb-s">
      <div class="input-group">
        <span class="input-group-addon">
          <i class="fa fa-search"></i>
        </span>        
        <input type="text" class="form-control input-lg" ng-model="$ctrl.state.filterAvailable" placeholder="Filter available analyzers">
      </div>
    </div>
    <div class="col-sm-12 flex-table">
      <div class="flex-row media" ng-repeat="def in $ctrl.definitionsIds | filter:$ctrl.state.filterAvailable" ng-init="definition = $ctrl.analyzerDefinitions[def]">
        <!-- <div class="media-left">
                <span class="label label-default" ng-class="{'Active': 'label-success'}[org.status]">{{org.status}}</span>
              </div> -->
        <div class="flex-col flex-1">
          <h4 class="media-heading">
            <span class="mr-m text-primary">{{definition.id}}</span>
          </h4>
          <h4 class="media-heading">
            <small class="mr-xxs">
              <strong>Version:</strong> {{definition.version}}</small>
            <small class="mr-xxs" ng-if="definition.author">
              <strong>Author:</strong> {{definition.author}}</small>
            <small class="mr-xxs" ng-if="definition.license">
              <strong>License:</strong> {{definition.license}}</small>
          </h4>
          <div class="mt-xs text-muted">{{definition.description}}</div>
        </div>
        <div class="flex-col flex-icon">
          <a href class="text-success" ng-click="$ctrl.enable(def)">
            <i class="fa fa-plus"></i>Enable</a>
        </div>
      </div>
    </div>
  </div>
</section>