<section>
  <div class="row mv-s" ng-if="$ctrl.analyzers.length === 0">
    <div class="col-md-12">
      <div class="empty-message">No analyzers found.</div>
    </div>
  </div>

  <div class="row mv-s" ng-if="$ctrl.analyzers.length > 0">
    <div class="col-sm-12 flex-table">
      <div class="flex-row media" ng-repeat="analyzer in $ctrl.analyzers track by analyzer.id">        
        <div class="flex-col flex-1">
          <h4 class="media-heading">
            <span class="text-primary mr-m">{{analyzer.name}}</span>
            <small class="mr-xxs">
              <strong>Version:</strong> {{analyzer.version}}</small>
            <small class="mr-xxs" ng-if="analyzer.author">
              <strong>Author:</strong> {{analyzer.author}}</small>
            <small class="mr-xxs" ng-if="analyzer.license">
              <strong>License:</strong> {{analyzer.license}}</small>
          </h4>
          <div class="mt-xs text-muted">
            {{analyzer.description}}
          </div>
          <div class="mt-xs mb-xxxs">
            <strong>Applies to:</strong>
            <span class="datatype clickable label label-primary" ng-repeat="type in analyzer.dataTypeList" ng-click="$ctrl.run(analyzer, type)">{{type}}</span>&nbsp;
          </div>
        </div>
        <div class="flex-col flex-icon flex-w-100" ng-click="$ctrl.run(analyzer)">
          <a href class="text-primary">
            <i class="fa fa-play"></i>Run</a>
        </div>        
      </div>
    </div>
  </div>
</section>