<header class="main-header"></header>
<!--<main-sidebar class="main-sidebar"></main-sidebar>-->
<div class="content-wrapper" fixed-height>
	<div class="container">
		<ui-view></ui-view>
	</div>
</div>
<footer class="main-footer">
	<div class="container">
		<div class="pull-right hidden-xs">
			<strong>Version</strong>: 1.0.1
		</div>
		<strong>Copyright &copy; 2016-2017 <a href="http://www.thehive-project.org" target="_blank">TheHive Project</a></strong> All rights reserved.
	</div>
</footer>
<!--
<control-sidebar class="control-sidebar control-sidebar-dark"></control-sidebar>
<div class="control-sidebar-bg"></div>
-->
