.paginable-page {
  .box-tools {
    >select {
      width: 100px;
    }
  }
  .table-toolbar {
    label.form-control {
      border: 0;
      width: auto;
      padding-left: 0;
      padding-right: 5px;
    }
    input.form-control {
      width: 300px;
    }
    select {
      &.form-control {
        width: 100px;
      }      
    }
    multiselect {
      width: 150px;
      .dropdown-menu {
        width: 300px !important;
      }
    }
    .pagination {
      margin: 0;
    }
  }
}