<section class="content-header">
  <h1>Organizations</h1>
</section>

<button class="mt-s btn btn-primary" type="button" ng-click="$ctrl.state.showForm = true">Create new Organization</button>

<div class="row mv-s" ng-if="$ctrl.organizations.length === 0">
  <div class="col-md-12">
    <div class="empty-message">No organizations defined.</div>
  </div>
</div>

<form name="organizationForm" ng-submit="$ctrl.create()">
  <div class="row mv-s" ng-show="$ctrl.state.showForm">
    <div class="form-group col-md-3">
      <label>Name</label>
      <input class="form-control" ng-model="$ctrl.state.formData.name" required type="text">
    </div>    
    <div class="form-group col-md-5">
      <label>Description</label>
      <input class="form-control" ng-model="$ctrl.state.formData.description" required type="text">
    </div>
    <div class="form-group col-md-1">
      <label>&nbsp;</label>
      <br>
      <button class="btn btn-sm btn-default" type="button" ng-click="$ctrl.state.showForm = false">Cancel</button>
      <button class="btn btn-sm btn-primary" type="submit" ng-disabled="organizationForm.$invalid">Save</button>
    </div>    
  </div>
</form>


<div class="row mv-s" ng-if="$ctrl.organizations.length > 0">
  <div class="col-sm-12 organizations-list">
    <div class="organization-item media" ng-repeat="org in $ctrl.organizations track by org.id">
      <div class="media-left">
        <span class="label label-default" ng-class="{'Active': 'label-success'}[org.status]">{{org.status}}</span>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <a href ui-sref="main.organization({id: org.id})">{{org.id}}</a>
        </h4>
        <span class="text-muted">{{org.description}}</span>
      </div>            
      <div class="media-right ph-xs text-center">
        <a href ng-click="$ctrl.editDashboard(db)">
          <i class="fa fa-pencil"></i>Edit</a>
      </div>
      <div class="media-right ph-xs text-center" ng-show="org.status === 'Active'">
        <a href class="text-danger" ng-click="$ctrl.disable(org.id)">
          <i class="fa fa-ban"></i>Disable</a>
      </div>
      <div class="media-right ph-xs text-center" ng-show="org.status === 'Locked'">
        <a href class="text-success" ng-click="$ctrl.enable(org.id)">
          <i class="fa fa-refresh"></i>Enable</a>
      </div>
    </div>
  </div>
</div>