<div class="box box-primary">
    <div class="box-header">
        <i class="fa fa-gear"></i>
        {{job.analyzerId}}
    </div>
    <div class="box-body with-border">

        <strong>Artifact</strong>
        <p>
            [{{job.artifact.attributes.dataType | uppercase}}] {{((job.artifact.attributes.dataType === 'file') ? job.artifact.attributes.filename : job.artifact.data) | fang}}
        </p>
        <hr>

        <strong>Date</strong>
        <p>
            <span am-time-ago="job.date"></span>
        </p>
        <hr>

        <strong>Status</strong>
        <p>
            <span class="label" ng-class="{'Success': 'label-success', 'InProgress': 'label-warning', 'Failure': 'label-danger'}[job.status]">{{job.status}}</span>
        </p>
    </div>
</div>
