<section class="content-header">
    <h1>Jobs</h1>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Data Types</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" ng-click="vm.filterByType('')">
                            <i class="fa fa-eraser"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-repeat="(key, value) in vm.datatypes">
                            <a ng-click="vm.filterByType(key)" href>
                                <i class="fa fa-check text-success" ng-show="key === vm.search.dataType"></i> {{key}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Analyzers</h3>
                    <div class="box-tools">
                        <button type="button" class="btn btn-box-tool" ng-click="vm.filterByAnalyzer('')">
                            <i class="fa fa-eraser"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <ul class="nav nav-pills nav-stacked">
                        <li ng-repeat="analyzer in vm.analyzers">
                            <a class="text-ellipsis" ng-click="vm.filterByAnalyzer(analyzer.id)" href>
                                <i class="fa fa-check text-success" ng-show="analyzer.id === vm.search.analyzerId"></i>
                                {{analyzer.name}}
                                <!--<span class="label label-success pull-right">{{value}}</span>-->
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <form ng-submit="vm.load(1)">
                <div class="input-group form-group">
                    <input type="text" class="form-control input-lg" placeholder="Search for observable data" ng-model="vm.search.data">
                    <div class="input-group-btn">
                        <button class="btn btn-lg btn-default" type="submit">Search</button>
                        <button class="btn btn-lg btn-default" type="button" ng-click="vm.clearDataFilter()"><i class="fa fa-eraser"></i></button>
                    </div>
                </div>
            </form>

            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">List of existing jobs</h3>
                    <div class="box-tools">
                        <dir-pagination-controls max-size="3" boundary-links="true" on-page-change="vm.pageChanged(newPageNumber)"></dir-pagination-controls>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="80">Status</th>
                                <th>Analyzer</th>
                                <th width="100">Date</th>
                                <th>Artifact</th>
                                <th width="80">Data Type</th>
                                <th width="60"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="job in vm.jobs | itemsPerPage: vm.pagination.itemsPerPage"
                                total-items="vm.pagination.total"
                                current-page="vm.pagination.current"
                                ng-init="isFile = job.artifact.attributes.dataType ==='file'">
                                <td>
                                    <span class="label"
                                        ng-class="{
                                            'Success': 'label-success',
                                            'InProgress': 'label-warning',
                                            'Failure': 'label-danger'}[job.status]">{{job.status}}</span>
                                </td>
                                <td>
                                    {{job.analyzerId}}
                                </td>
                                <td am-time-ago="job.date">{{job.date}}</td>
                                <td class="wrap">
                                    {{(isFile ? job.artifact.attributes.filename : job.artifact.data) | fang}}
                                </td>
                                <td>
                                    {{job.artifact.attributes.dataType}}
                                </td>
                                <td>
                                    <a ui-sref="job-report({id: job.id})" tooltip="View Report"><i class="fa fa-search fa-lg text-primary"></i></a>
                                    <a href ng-click="vm.remove(job.id)" tooltip="Remove"><i class="fa fa-times fa-lg text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
