.label.label-none {
  background-color: #d2d6de;
  color: #444;
}

.label.label-white {
  background-color: #5BC0CE;
}

.label.label-green {
  background-color: #5CB85C;
}

.label.label-amber {
  background-color: #F0AD4E;
}

.label.label-red {
  background-color: #D9534F;
}