.text-tlp-none {
  background-color: #d2d6de;
}

.text-tlp-white {
  background-color: #5BC0CE;
}

.text-tlp-green {
  background-color: #5CB85C;
}

.text-tlp-amber {
  background-color: #F0AD4E;
}

.text-tlp-red {
  background-color: #D9534F;
}