<div class="box box-primary">
  <div class="box-header">
    <i class="fa fa-gear"></i>
    {{$ctrl.job.analyzerName}}
  </div>
  <div class="box-body with-border">

    <div>
      <strong>Artifact</strong>
      <p class="wrap">
        <span>[{{$ctrl.job.dataType | uppercase}}]</span>
        <span
          ng-if="$ctrl.job.type !== 'responder'">{{(($ctrl.job.dataType === 'file') ? $ctrl.job.attachment.name: $ctrl.job.data) | fang}}</span>
        <span ng-if="$ctrl.job.type === 'responder'">{{$ctrl.job.label || 'No Label'}}</span>

      </p>
      <p ng-if="">
        [{{$ctrl.job.dataType | uppercase}}]
        {{(($ctrl.job.dataType === 'file') ? $ctrl.job.attachment.name : $ctrl.job.data) | fang}}
      </p>
      <hr>
    </div>

    <div>
      <strong>Date</strong>
      <p>
        <span am-time-ago="$ctrl.job.date"></span>
      </p>
      <hr>
    </div>

    <div>
      <strong>TLP</strong>
      <p>
        <tlp value="$ctrl.job.tlp"></tlp>
      </p>
      <hr>
    </div>

    <div>
      <strong>PAP</strong>
      <p>
        <tlp value="$ctrl.job.pap" namespace="PAP"></tlp>
      </p>
      <hr>
    </div>

    <div>
      <strong>Status</strong>
      <p>
        <span class="label label-default"
          ng-class="{'Success': 'label-success', 'InProgress': 'label-warning', 'Failure': 'label-danger'}[$ctrl.job.status]">{{$ctrl.job.status}}</span>
      </p>
      <hr>
    </div>

    <div ng-if="$ctrl.job.report.summary">
      <strong>Report summary</strong>
      <p>
        <taxonomie taxonomies="$ctrl.job.report.summary.taxonomies"></taxonomie>
      </p>
    </div>

  </div>
</div>