<section class="content-header">
  <h1>Organization: 
    <strong>{{$ctrl.organization.id}}</strong>
    <a require-roles="superadmin" ui-sref="main.organizations" class="pull-right"><small class="text-primary"><i class="fa fa-chevron-left"></i> Back to list</small></a>
  </h1>
</section>

<section class="content">
  <uib-tabset class="nav-tabs-custom">
    <uib-tab index="0">      
      <uib-tab-heading>
        <i class="fa fa-user"></i> Users ({{$ctrl.users.length}})</uib-tab-heading>
        <!-- <users-list organization="$ctrl.organization" users="$ctrl.users" on-reload="$ctrl.reloadUsers()"></users-list> -->
        
        <organization-users-list organization="$ctrl.organization"></organization-users-list>        
    </uib-tab>
    <uib-tab index="1" require-roles="orgadmin">
      <uib-tab-heading>
        <i class="fa fa-cog"></i> Configurations</uib-tab-heading>      
        <organization-config-list organization="$ctrl.organization" configurations="$ctrl.configurations"></organization-config-list>
    </uib-tab>
    <uib-tab index="2" require-roles="orgadmin">
      <uib-tab-heading>
        <i class="fa fa-cogs"></i> Analyzers</uib-tab-heading>
      <organization-analyzers-list organization="$ctrl.organization" analyzer-definitions="$ctrl.analyzerDefinitions" analyzers="$ctrl.analyzers"></organization-analyzers-list>      
    </uib-tab>
    
  </uib-tabset>

</section>
