<section class="content-header">
  <h1>Job details    
    <a ui-sref="main.jobs" class="pull-right">
      <small class="text-primary">
        <i class="fa fa-chevron-left fa-lg"></i> Back to list</small>
    </a>
  </h1>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <job-details job="$ctrl.job"></job-details>
    </div>
    <div class="col-md-9">
      <div class="box box-primary job-box">
        <div class="box-header">
          <h3 class="box-title">Job report</h3>
        </div>
        <div class="box-body job-report">
          <div ng-if="$ctrl.job.type === 'responder'">
            <h5 class="text-primary">Input details</h5>
            <pre>{{$ctrl.job.data | json}}</pre>
          </div>
          <h5 class="text-primary mt-xs">Report</h5>
          <pre>{{$ctrl.job.report | json}}</pre>
        </div>
      </div>
    </div>
  </div>
</section>