<section class="content-header">
  <h1>Jobs</h1>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Data Types</h3>
          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" ng-click="$ctrl.filterByType('')">
              <i class="fa fa-eraser"></i>
            </button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="(key, value) in $ctrl.datatypes">
              <a ng-click="$ctrl.filterByType(key)" href>
                <i class="fa fa-check text-success" ng-show="key === $ctrl.search.dataType"></i> {{key}}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="box box-solid">
        <div class="box-header with-border">
          <h3 class="box-title">Analyzers</h3>
          <div class="box-tools">
            <button type="button" class="btn btn-box-tool" ng-click="$ctrl.filterByAnalyzer('')">
              <i class="fa fa-eraser"></i>
            </button>
          </div>
        </div>
        <div class="box-body no-padding">
          <ul class="nav nav-pills nav-stacked">
            <li ng-repeat="analyzer in $ctrl.analyzers">
              <a class="text-ellipsis" ng-click="$ctrl.filterByAnalyzer(analyzer.id)" href>
                <i class="fa fa-check text-success" ng-show="analyzer.id === $ctrl.search.analyzerId"></i>
                {{analyzer.name}}
                <!--<span class="label label-success pull-right">{{value}}</span>-->
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <form ng-submit="$ctrl.load(1)">
        <div class="input-group form-group">
          <input type="text" class="form-control input-lg" placeholder="Search for observable data" ng-model="$ctrl.search.data">
          <div class="input-group-btn">
            <button class="btn btn-lg btn-default" type="submit">Search</button>
            <button class="btn btn-lg btn-default" type="button" ng-click="$ctrl.clearDataFilter()">
              <i class="fa fa-eraser"></i>
            </button>
          </div>
        </div>
      </form>

      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">List of existing jobs</h3>
          <div class="box-tools">
            <dir-pagination-controls max-size="3" boundary-links="true" on-page-change="$ctrl.pageChanged(newPageNumber)"></dir-pagination-controls>
          </div>
        </div>
        <div class="box-body no-padding">
          <table class="table table-striped">
            <thead>
              <tr>
                <th width="80">Status</th>
                <th width="200">Analyzer</th>
                <th width="150">Date</th>
                <th>Artifact</th>
                <th width="80">Data Type</th>
                <th width="60"></th>
              </tr>
            </thead>
            <tbody>
              <tr dir-paginate="job in $ctrl.jobs | itemsPerPage: $ctrl.pagination.itemsPerPage" total-items="$ctrl.pagination.total" current-page="$ctrl.pagination.current"
                ng-init="isFile = job.dataType ==='file'">
                <td>
                  <span class="label" ng-class="{
                                            'Success': 'label-success',
                                            'InProgress': 'label-warning',
                                            'Failure': 'label-danger'}[job.status]">{{job.status}}</span>
                </td>
                <td>
                  {{job.analyzerName}}
                </td>
                <td am-time-ago="job.createdAt"></td>
                <td class="wrap">
                  {{(isFile ? job.filename : job.data) | fang}}
                </td>
                <td>
                  {{job.dataType}}
                </td>
                <td>
                  <a ui-sref="main.job-report({id: job.id})" tooltip="View Report">
                    <i class="fa fa-search fa-lg text-primary"></i>
                  </a>
                  <a href ng-click="$ctrl.remove(job.id)" tooltip="Remove">
                    <i class="fa fa-times fa-lg text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.content -->